:root {
  --color-text: #3d3d3d;

  --color-primary-0: #a0a0ff;
  --color-primary-1: #a5a5ff;
  --color-primary-2: #9090ff;
  /* 
  --color-button: #999; */
  --color-focus: #888;
  --color-border: #ccc;

  --margin-bottom-default: 1em;

  --box-shadow: 0.5rem 0.5rem 0.5rem #ccc;

  --border-radius: 0.5rem;
  --border-size: 1px;
  --border: var(--border-size) solid var(--color-border);

  --break-point-sm: 320px;
  --break-point-md: 640px;
  --break-point-lg: 960px;
  --break-point-xl: 1280px;
}

body {
  background: #fff;
  color: var(--color-text);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

/******************************************************************************
 * Defintion of the header tags
 *****************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.4rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}

/******************************************************************************
 *
 *****************************************************************************/

table {
  /* ??? */
  border-spacing: 0;
  border-top: var(--border);
}

td,
th {
  padding: 0.5rem 0rem;
  border-bottom: var(--border);
}

/******************************************************************************
 * Definition of the container and the grid
 *****************************************************************************/

.container {
  max-width: var(--break-point-xl);
  margin: 0 auto;
}

.grid-4 {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: auto auto auto auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: var(--break-point-lg);
  }

  .grid-4 {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: var(--break-point-md);
  }

  .grid-4 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: var(--break-point-sm);
  }

  .grid-4 {
    grid-template-columns: auto;
  }
}

/******************************************************************************
 *
 *****************************************************************************/

input,
textarea {
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

input:focus,
textarea:focus {
  border: var(--border-size) solid var(--color-focus);
  outline: 0px;
}

.button,
button,
select {
  background-color: var(--color-primary-0);
  border: var(--border-size) solid var(--color-primary-0);
  border-radius: var(--border-radius);
  padding: 0.4rem 1.5rem;
}

.button:hover,
button:hover,
select:hover {
  background-color: var(--color-primary-1);
  border: var(--border-size) solid var(--color-primary-1);
}

button:active,
.button:active,
select:active {
  background-color: var(--color-primary-2);
  border: var(--border-size) solid var(--color-primary-2);
}

.button:focus,
button:focus,
select:focus {
  border: var(--border-size) solid var(--color-focus);
  outline: 0px;
}

input[disabled],
textarea[disabled],
select[disabled],
.disabled {
  opacity: 0.6;
}

/******************************************************************************
 * Definition of the margins
 *****************************************************************************/

table,
.buttons,
.grid-4 {
  margin-bottom: var(--margin-bottom-default);
}

/******************************************************************************
 * Utility classes
 *****************************************************************************/

.is-full {
  width: 100%;
}

.is-text-right {
  text-align: right;
}

.is-text-left {
  text-align: left;
}

.is-text-center {
  text-align: center;
}

.is-small {
  font-size: 0.8rem;
}

/******************************************************************************
 * Definition of cards
 *****************************************************************************/

.card {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  padding: 0rem 1rem;
}
