/******************************************************************************
 * Basic definitions
 *****************************************************************************/
:root {
  --color-text: #3d3d3d;
  --color-background: #fff;

  --color-primary-0: #ffc6b3;
  --color-primary-1: #ffb399;
  --color-primary-2: #ff9f80;

  --color-success-0: #c2f0c2;
  --color-success-1: #adebad;
  --color-success-2: #99e699;

  --color-danger-0: #ffb3b3;
  --color-danger-1: #ff9999;
  --color-danger-2: #ff8080;

  --color-primary: #f0f0f0;
  --color-info: #ffece6;

  --color-focus: #888;
  --color-border: #ccc;

  --font-weight-bold: 600;

  --margin-y: 1em;
  --margin-y-sm: 0.5em;

  --box-shadow: 0.5rem 0.5rem 0.5rem #ccc;

  --border-radius: 0.3rem;
  --border-size: 1px;
  --border: var(--border-size) solid var(--color-border);

  --grid-gap: 1rem;

  --break-point-sm: 320px;
  --break-point-md: 640px;
  --break-point-lg: 960px;
  --break-point-xl: 1280px;
}

/******************************************************************************
 * Body definitions
 *****************************************************************************/

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
}

/******************************************************************************
 * Defintion of the header tags
 *****************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0rem 0rem var(--margin-y) 0rem;
  font-weight: var(--font-weight-bold);
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.6rem;
}

h3,
.h3 {
  font-size: 1.4rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}

/******************************************************************************
 * Misc ??
 *****************************************************************************/

hr {
  border-top: var(--border-size) solid var(--color-border);
  border-bottom: 0px;
}

label,
select {
  display: block;
}

/******************************************************************************
 * Style for the table. We use a padding-right to separate the cells. This has
 * to be removed on the last cell of a row.
 *****************************************************************************/

table {
  border-top: var(--border);
}

td,
th {
  padding: 0.5rem 1rem 0.5rem 0rem;
  border-bottom: var(--border);
}

td:last-child,
th:last-child {
  padding-right: 0;
}

/******************************************************************************
 * Definition of the container and the grid
 *****************************************************************************/

.container {
  max-width: var(--break-point-xl);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: var(--grid-gap) var(--grid-gap);
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1280px) {
  .container {
    max-width: var(--break-point-lg);
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: var(--break-point-md);
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: var(--break-point-sm);
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }
}

/******************************************************************************
 *
 *****************************************************************************/

input,
textarea {
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

input:focus,
textarea:focus {
  border: var(--border-size) solid var(--color-focus);
  outline: 0px;
}

.button,
select {
  background-color: var(--color-primary-0);
  border: var(--border-size) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.3rem 1rem;
}

.button:hover,
select:hover {
  background-color: var(--color-primary-1);
}

.button:active,
select:active {
  background-color: var(--color-primary-2);
}

.button.is-success {
  background-color: var(--color-success-0);
}

.button:hover.is-success {
  background-color: var(--color-success-1);
}

.button:active.is-success {
  background-color: var(--color-success-2);
}

.button.is-danger {
  background-color: var(--color-danger-0);
}

.button:hover.is-danger {
  background-color: var(--color-danger-1);
}

.button:active.is-danger {
  background-color: var(--color-danger-2);
}

.button:focus,
select:focus {
  border: var(--border-size) solid var(--color-focus);
  outline: 0px;
}

input[disabled],
textarea[disabled],
select[disabled],
.disabled {
  opacity: 0.6;
}

/******************************************************************************
 * Color definition.
 *****************************************************************************/

.is-primary {
  background: var(--color-primary);
}

.is-info {
  background: var(--color-info);
}

.is-success {
  background-color: var(--color-success-2);
}

.is-danger {
  background-color: var(--color-danger-0);
}

/******************************************************************************
 * Definition of a button group. The main purpose is to set an inner margin.
 *****************************************************************************/

.buttons > button,
.buttons > .button {
  margin-right: var(--margin-y-sm);
}

.buttons > button:last-child,
.buttons > .button:last-child {
  margin-right: 0;
}

/******************************************************************************
 * Definition of the margins
 *****************************************************************************/

p,
label,
table,
.box,
.buttons,
.grid-2,
.grid-4 {
  margin: 0rem 0rem var(--margin-y) 0rem;
}

.content > :first-child {
  margin-top: var(--margin-y);
}

/******************************************************************************
 * Utility classes
 *****************************************************************************/

.is-full {
  width: 100%;
}

.is-block {
  display: block;
}

/******************************************************************************
 * Classes to align texts
 *****************************************************************************/

.is-text-right {
  text-align: right;
}

.is-text-left {
  text-align: left;
}

.is-text-center {
  text-align: center;
}

/******************************************************************************
 * Classes for texts
 *****************************************************************************/

.is-small {
  font-size: 0.8rem;
}

.is-bold {
  font-weight: var(--font-weight-bold);
}

/******************************************************************************
 * Definition of cards
 *****************************************************************************/

.card {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0rem 1rem;
}

.card-shadow {
  box-shadow: var(--box-shadow);
}
